<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">New Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="age">New Age</label>
    <input type="number" th:field="*{age}" id="age"/>
    <br>
    <label for="password">New Password</label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <label for="admin_role">Role admin</label>
    <input type="checkbox" th:checked="${user.roles.size() == 2}" name="admin_role" id="admin_role">
    <br>
    <input type="submit" value="Update!"/>
</form>
<form class="container" th:action="@{/logout}" method="post">
    <input class="btn btn-danger btn-lg" type="submit" value="Logout"/>
</form>
</body>
</html>