<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->

 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Привет, мир!</title>
</head>
<body>
<div class="container-fluid"> <!--начало главного контейнера-->
    <div class="row"> <!--строка с email role и logout-->
        <div class="col py-2 bg-dark">
            <div class="text-white">
                <h3 class="text-left">
                    <span th:text="${}"></span> UserRole.
                </h3>
            </div>
        </div>
        <div class="col-sm-auto py-2 bg-dark">
            <form method="post" th:action="@{/logout}">
                <input class="btn btn-link" type="submit" value="Logout"/>
            </form>
        </div>
    </div><!--конец строки с email role и logout-->
    <div class="row mt-4 vh-100"> <!--строка с навигацией и табами-->
        <div class="col-md-2 p-0"> <!--колонка с навигацией-->
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10 bg-light"> <!--колонка с табами-->
            <div class="row"> <!--строка с текстом AdminPanel-->
                <div class="col-md-12">
                    <div class=""><h1>Admin panel</h1></div>
                </div>
            </div>
            <div class="row"> <!--строка с текстом табами-->
                <div class="col-md-12"> <!--колонка с табами код здесь-->
                    <ul class="nav nav-tabs" id="adminPanelTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="user-tab" data-toggle="tab" href="#userTable" role="tab" aria-controls="userTable" aria-selected="true">User table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-user-tab" data-toggle="tab" href="#newUser" role="tab" aria-controls="newUser" aria-selected="false">New user</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="userTable" role="tabpanel" aria-labelledby="user-tab">
                            <div class="p-3 border"><h3>All users</h3></div>
                            <div class="p-4 border border-top-0 bg-white">
                                <table class="table table-striped"> <!--таблица первого таба-->
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>ID</td>
                                        <td>Name</td>
                                        <td>Soname</td>
                                        <td>Age</td>
                                        <td>Email</td>
                                        <td>Role</td>
                                        <td><a id="modal-editUser" href="#modal-container-editUser" role="button" class="btn btn-info" data-toggle="modal">Edit</a></td>
                                        <td><a id="modal-deleteUser" href="#modal-container-deleteUser" role="button" class="btn btn-danger" data-toggle="modal">Delete</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="new-user-tab">
                            <div class="p-3 border"><h3>Add new user</h3></div>
                            <div class="p-4 d-flex justify-content-center border border-top-0 bg-white">
                                <form class="w-25">
                                    <div class="form-group text-center">
                                        <label for="inputTextControl1">First name</label>
                                        <input type="text" class="form-control" id="inputTextControl1">
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="inputTextControl2">Last name</label>
                                        <input type="text" class="form-control" id="inputTextControl2">
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="inputTextControl3">Age</label>
                                        <input type="text" class="form-control" id="inputTextControl3">
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="inputTextControl4">Email</label>
                                        <input type="email" class="form-control" id="inputTextControl4">
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="inputTextControl5">Email</label>
                                        <input type="password" class="form-control" id="inputTextControl5">
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="inputTextControl6">Role</label>
                                        <select multiple class="form-control" size="auto" id="inputTextControl6">
                                            <option>ADMIN</option>
                                            <option>USER</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"> <!--EditUser строка с модальным окном!-->
                <div class="col-md-12">
                    <div class="modal fade" id="modal-container-editUser" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">
                                        Modal title
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body d-flex justify-content-center">
                                    <form class="w-50">
                                        <div class="form-group text-center">
                                            <label for="inputTextControlE1">First name</label>
                                            <input type="text" class="form-control" id="inputTextControlE1">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="inputTextControlE2">Last name</label>
                                            <input type="text" class="form-control" id="inputTextControlE2">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="inputTextControlE3">Age</label>
                                            <input type="number" class="form-control" id="inputTextControlE3">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="inputTextControlE4">Email</label>
                                            <input type="email" class="form-control" id="inputTextControlE4">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="inputTextControlE5">Email</label>
                                            <input type="password" class="form-control" id="inputTextControlE5">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="inputTextControlE6">Role</label>
                                            <select multiple class="form-control" size="auto" id="inputTextControlE6">
                                                <option>ADMIN</option>
                                                <option>USER</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-primary">
                                        Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <!--строка с модальным окном!-->

            <div class="row"> <!--DeleteUser строка с модальным окном!-->
                <div class="col-md-12">
                    <div class="modal fade" id="modal-container-deleteUser" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel2">
                                        Modal title
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body d-flex justify-content-center">
                                    <form class="w-50">
                                        <fieldset disabled>
                                        <div class="form-group text-center">
                                            <label for="inputTextControlD1">First name</label>
                                            <input type="text" class="form-control" id="inputTextControlD1">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="inputTextControlD2">Last name</label>
                                            <input type="text" class="form-control" id="inputTextControlD2">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="inputTextControlD3">Age</label>
                                            <input type="number" class="form-control" id="inputTextControlD3">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="inputTextControlD4">Email</label>
                                            <input type="email" class="form-control" id="inputTextControlD4">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="inputTextControlD5">Role</label>
                                            <select multiple class="form-control" id="inputTextControlD5">
                                                <option>ADMIN</option>
                                                <option>USER</option>
                                            </select>
                                        </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-danger">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <!--строка с модальным окном!-->

        </div>
    </div> <!--конец строки с навигацией и табами-->
</div> <!--конец главного контейнера    -->








<!-- Вариант 1: пакет jQuery и Bootstrap (включает Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>