<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Age </th>
        <th> UserInfo </th>
        <th> UserEdit </th>
        <th> UserDelete </th>
        <th> UserRoles </th>
        <th> Password </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${usersList.isEmpty()}">
        <td colspan="2"> No Users Available </td>
    </tr>

    <tr th:each="user : ${usersList}">
        <td><span th:text="${user.getId()}"> ID </span></td>
        <td><span th:text="${user.getName()}"> Name </span></td>
        <td><span th:text="${user.getAge()}"> Age </span></td>
        <td><a th:href="@{/users/{id}(id=${user.getId()})}"> UserInfo </a></td>
        <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}"> Edit </a></td>
        <td><a th:href="@{/users/{id}/delete(id=${user.getId()})}"> Delete </a></td>
        <td><span th:each="r : ${user.getRoles()}" th:text="${r.toString() + ' '}"> Roles </span></td>
        <td><span th:text="${user.password}"> Password </span></td>
    </tr>

    </tbody>
</table>

<br>

<div>
    <form th:method="POST" th:action="@{/users/admin}">
        <label for="name">Name</label>
        <input name="name" type="text" id="name">
        <br>
        <label for="age">Age</label>
        <input name="age" type="number" id="age">
        <br>
        <label for="password">Password</label>
        <input name="password" type="text" id="password">
        <br>
        <label for="admin_role">Role admin</label>
        <input name="admin_role" type="checkbox" id="admin_role">
        <input type="submit" value="Add User">
    </form>
</div>
<form class="container" th:action="@{/logout}" method="post">
    <input class="btn btn-danger btn-lg" type="submit" value="Logout"/>
</form>
</body>
</html>