<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <title>Привет, мир!</title>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-10">
          <h3 class="text-left">
            h3. Lorem ipsum dolor sit amet.
          </h3>
        </div>
        <div class="col-md-2">
          <form class="container" th:action="@{/logout}" method="post">
            <input class="btn btn-danger btn-lg" type="submit" value="Logout"/>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <ul class="nav flex-column nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
          </ul>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12">
              <h3>
                Admin panel
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="tabbable" id="tabs-152833">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active show" href="#tab1" data-toggle="tab">User table</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#tab2" data-toggle="tab">New user</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="panel-785940">
                    <p>
                      All users
                    </p>
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>
                          ID
                        </th>
                        <th>
                          First Name
                        </th>
                        <th>
                          Last Name
                        </th>
                        <th>
                          Age
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Role
                        </th>
                        <th>
                          Edit
                        </th>
                        <th>
                          Delete
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>
                          1
                        </td>
                        <td>
                          TB - Monthly
                        </td>
                        <td>
                          01/04/2012
                        </td>
                        <td>
                          Default
                        </td>
                        <td>
                          Default
                        </td>
                        <td>
                          Default
                        </td>
                        <td>
                          Default
                        </td>
                        <td>
                          Default
                        </td>
                      </tr>
                      <tr class="table-active">
                        <td>
                          1
                        </td>
                        <td>
                          TB - Monthly
                        </td>
                        <td>
                          01/04/2012
                        </td>
                        <td>
                          Approved
                        </td>
                        <td>
                          Approved
                        </td>
                        <td>
                          Approved
                        </td>
                        <td>
                          Approved
                        </td>
                        <td>
                          Approved
                        </td>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="tab2">
                    <p>
                      Add new user
                    </p>
                    <form role="form">
                      <div class="form-group justify-content-center">
                        <label for="exampleInputEmail1">
                          Email address
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                      </div>
                      <div class="form-group">

                        <label for="exampleInputPassword1">
                          Password
                        </label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="form-group">

                        <label for="exampleInputFile">
                          File input
                        </label>
                        <input type="file" class="form-control-file" id="exampleInputFile">
                        <p class="help-block">
                          Example block-level help text here.
                        </p>
                      </div>
                      <div class="checkbox">

                        <label>
                          <input type="checkbox"> Check me out
                        </label>
                      </div>
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Дополнительный JavaScript; выберите один из двух! -->

<!-- Вариант 1: пакет jQuery и Bootstrap (включает Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<!-- Вариант 2: Отдельные JS для Popper и Bootstrap -->
<!--
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
-->
</body>
</html>